
Carthage
Example/FServiceManagerExample/FServiceManagerExample.xcodeproj/project.xcworkspace/xcuserdata/huchunbo.xcuserdatad/UserInterfaceState.xcuserstate

Example/FServiceManagerExample/FServiceManagerExample.xcodeproj/project.xcworkspace/xcuserdata/huchunbo.xcuserdatad/UserInterfaceState.xcuserstate

Cartfile.resolved

FServiceManager.xcodeproj/project.xcworkspace/xcuserdata/huchunbo.xcuserdatad/UserInterfaceState.xcuserstate

.idea
